<div class="container p-5">
  <div class="row pb-3">
      <div class="col-md-5 offset-md-1">
        <h1>
          <%= @recipe.ingredients.count == 0 ? "1er" : "#{@recipe.ingredients.count + 1}ème" %> Ingrédient
        </h1>
      </div>
  </div>
  <%= simple_form_for [@recipe, @ingredient] do |f| %>
    <div class="row pb-3">
      <div class="col-md-5 offset-md-1 form-two-part">
        <%= f.input :ingredient_name, label: "Nom de l'ingrédient" %>
        <%= f.input :amount_for_recipe, label: "Quantité utilisée dans la recette" %>

        <%= f.input :unit_for_recipe, label: "Unité",
                  as: :radio_buttons,
                  collection_wrapper_tag: 'div',
                  collection_wrapper_class: 'category-wrapper',
                  item_wrapper_class: 'category-item',
                  input_html: {class: 'category-selector'},
                  collection: Ingredient::UNITS %>

      </div>
      <div class="col-md-5 form-two-part">
        <%= f.input :amount_of_order, label: "Quantité commandée" %>
        <%= f.input :unit_of_order, label: "Unité",
                as: :radio_buttons,
                collection_wrapper_tag: 'div',
                collection_wrapper_class: 'category-wrapper',
                item_wrapper_class: 'category-item',
                input_html: {class: 'category-selector'},
                collection: Ingredient::UNITS %>

        <%= f.input :cost_of_order, label: "Coût de la commande" %>
      </div>
    </div>
      <div class="row">
        <div class="col-md-2 offset-md-1">
          <%= f.button :submit, 'Ingrédient suivant >', class: "main-button" %>
        </div>
        <div class="col-md-2 offset-md-6">
          <%= f.button :submit, 'Terminer la recette', class: "main-button" if @recipe.ingredients.count > 0 %>
        </div>
      </div>
      <% end %>
</div>
